@use "../../../assets/styles/variables" as vAC;
@use "../../../assets/styles/mixins" as mAC;

form {
  display: contents;
}

.update-card {
  position: relative;
  @include mAC.flex-column-center-center-stretch;
  padding: 1.5rem;
  min-height: vAC.$height;
  max-height: vAC.$height;
  gap: 0.25rem;
  flex: 1 0 0;
  border-radius: vAC.$border-radius;
  border: vAC.$border;
  background: vAC.$background-gradient;
  .back-icon-update-card {
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    @include mAC.flex-center;
    padding: 0.75rem;
    gap: 0.25rem;
    border-radius: 0.5rem;
    transition: background 0.4s;
    cursor: pointer;
    &:hover {
      background: var(--Black-4, rgba(0, 0, 0, 0.04));
    }
    img {
      width: vAC.$size-icon;
      height: vAC.$size-icon;
    }
  }
}
