// Flexbox mixins
@mixin flex-align-center {
  display: flex;
  align-items: center;
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}
@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-between-stretch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin flex-column-center-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
@mixin flex-column-stretch {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}
@mixin flex-center-stretch {
  display: flex;
  align-items: center;
  align-self: stretch;
}
@mixin flex-column-between-start {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@mixin flex-column-between-start-stretch {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
@mixin flex-between-start-stretch {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
@mixin flex-column-stretch-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
@mixin flex-start-stretch {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}
@mixin flex-column-center-center-stretch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
}
@mixin flex-column-center-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@mixin flex-end-center-stretch {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
}
